.layout1
  .col1
    .mimage.image1= link_to image_tag(imgs[0][1].url), item_path(current_user.domain_name, @year, imgs[0][0].id)
    .mimage.image2= link_to image_tag(imgs[1][1].url), item_path(current_user.domain_name, @year, imgs[1][0].id)
    .mimage.image3= link_to image_tag(imgs[2][1].url), item_path(current_user.domain_name, @year, imgs[2][0].id)
    .mimage.image4= link_to image_tag(imgs[3][1].url), item_path(current_user.domain_name, @year, imgs[3][0].id)
    .mimage.image5= link_to image_tag(imgs[4][1].url), item_path(current_user.domain_name, @year, imgs[4][0].id)
  .col2
    .mimage.image6= link_to image_tag(imgs[5][1].url), item_path(current_user.domain_name, @year, imgs[5][0].id)
    .mimage.image7= link_to image_tag(imgs[6][1].url), item_path(current_user.domain_name, @year, imgs[6][0].id)
  .clear