.month_day
  .month_date
    .month_date_day
      - if signed_in?
        = link_to date.strftime("%d"), items_path(current_user.domain_name, date.year, date.month, date.day)
      - else
        = date.strftime("%d")
    .month_year_container
      .month_date_month
        - if signed_in?
          = link_to date.strftime("%m"), items_path(current_user.domain_name, date.year, date.month)
        - else
          = date.strftime("%m")
      .month_date_year= date.year
    .clear
