.layout1.span14.offset1
  .col1
    .mimage.image1= image_tag("http://27.media.tumblr.com/tumblr_lwfopz1hxt1qzlvoko1_500.jpg")
    .mimage.image2= image_tag("http://25.media.tumblr.com/tumblr_lwfph3byYl1qzlvoko1_500.jpg")
    .mimage.image3= image_tag("http://27.media.tumblr.com/tumblr_lwfoxxEHJj1qzlvoko1_500.jpg")
    .mimage.image4= image_tag("http://30.media.tumblr.com/tumblr_lvo04xaHZu1qzlvoko1_500.jpg")
    .mimage.image5= image_tag("http://29.media.tumblr.com/tumblr_ludj4asD681qzlvoko1_500.png")
  .col2
    .mimage.image6= image_tag("http://29.media.tumblr.com/tumblr_ludj4asD681qzlvoko1_500.png")
    .mimage.image7= image_tag("http://25.media.tumblr.com/tumblr_lwfph3byYl1qzlvoko1_500.jpg")
